.why-container {
  background-color: #f6f4f8;
}

.why-content {
  max-width: 1128px;
  margin: 0 auto;
  padding: 6.4rem 2rem 3.4rem 2rem;
}

.why-content h1,
.why-content h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-content h4 {
  margin: 1rem 0;
  font-weight: 500;
}

.why-content p {
  font-weight: 400;
  color: #777e90;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 3rem 0;
}

.why-content p:first-of-type {
  margin-bottom: 0;
  margin-top: 4rem;
}

.why-content .para {
  opacity: 1;
  visibility: visible;
  max-height: 100vh;
  transition: all 0.4s;
}

.para.hide-para {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
