.astrologer {
  /* max-width: 1128px; */
  margin: 6.4rem auto;
  text-align: center;
}

.astrologer-slide-cards {
  cursor: pointer;
  flex-shrink: 0;
  margin: 2rem 0.8rem;
  height: 31rem;
  width: 18.4rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
  overflow: hidden;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.profile-background-pic {
  height: 12rem;
  width: 100%;
  background: url("/public/assets/astrologer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.astro-profile-content {
  width: 100%;
  text-align: start;
  padding: 1rem;
  padding-bottom: 0;
}

.astro-profile-content > div {
  margin: 0.8rem 0;
}

.astro-profile-content span {
  font-size: 1.2rem;
  color: #707070;
}

.more-option-card {
  flex-shrink: 0;
  margin: 2rem 0.8rem;
  height: 31rem;
  width: 18.4rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-option-card button {
  cursor: pointer;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background-color: white;
}
