.dropdown {
  position: relative;
}

.profile {
  border-radius: 50%;
  cursor: pointer;
}

.profile-dropbox {
  position: absolute;
  right: -1rem;
  min-width: 20rem;
  background-color: white;
  box-shadow: 0px 0px 24px rgb(0 0 0 / 10%);
  border-radius: 1rem;
  padding: 2rem 0 0 0;
  transform: translateY(10rem);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.show {
  transform: translateY(1rem);
  visibility: visible;
  opacity: 1;
}

.polygon {
  position: absolute;
  top: -8px;
  right: 2rem;
  width: 16px;
  height: 8px;
  background: #e0e0e0;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.polygon::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 14px;
  height: 8px;
  background: white;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.list {
  list-style: none;
  text-align: start;
  border-bottom: 1px solid #e0e0e0;
}

.list-item {
  padding: 0.6rem 2rem;
  cursor: pointer;
  border-radius: 5px;
}

.list-item:hover {
  background-color: #eeeeee;
}

.profile-header {
  padding: 1.6rem;
  border-bottom: 1px solid #e0e0e0;
}

.profile-header p {
  font-weight: 500;
  margin-top: 0.8rem;
}

.profile-logout {
  cursor: pointer;
  padding: 1rem 0;
  color: #965efb;
  border-radius: 5px;
}

.profile-logout:hover {
  background-color: #eeeeee;
}
